.app {
  width: 100%;
  max-width: 540px;
  margin: 50px auto;
  background: #62a6e6;
  border-radius: 20px;
}

.title {
  text-align: center;
  color: #fff;
  font-size: 32px;
  padding: 30px 0 20px;
}

.contents {
  background: #fff;
  padding: 40px 30px;
  border-radius: 20px;
  min-height: 70vh;
}

.list-title {
  font-size: 20px;
  margin-bottom: 15px;
}

.input-wrap {
  display: flex;
  gap: 10px;
  margin-bottom: 30px;
}

.input-add {
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  background: #f9f9f9;
  outline: none;
  flex: 1;
  box-shadow: inset 0 0 0 1px #ddd;
}

.input-add:focus {
  box-shadow: inset 0 0 0 2px #ddd;
  background: #f0f0f0;
}

.btn {
  padding: 12px 20px;
  background: #62a6e6;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  border: 1px solid rgba(153, 110, 211, 0.5);
  transition: 0.3s all ease;
}

.btn:hover {
  background: #3856db;
}

.todo-list li {
  background: #f9f9f9;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
  font-size: 16px;
  transition: 0.3s all ease;
  position: relative;
}

.todo-list li:hover {
  background-color: #dcf1ff;
  border-color: #5ab8ee;
}

.empty-list {
  text-align: center;
  color: #666;
  font-size: 18px;
  padding: 20px;
}

.delete-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background: transparent;
  font-size: 18px;
}

.todo-list li:has(input:checked) {
  background: #666;
}

.filter-wrap {
  display: flex;
  gap: 6px;
  margin-bottom: 20px;
}

.filter-btn {
  padding: 7px 16px;
  background: #fff;
  border: 1px solid #ccc;
  border-radius: 20px;
  font-size: 14px;
}

.filter-btn.active {
  background: #3856db;
  color: #fff;
  border-color: #687fe4;
}

.edit-btn {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  border: none;
  color: #999;
  background: transparent;
  font-size: 15px;
}

.save-btn {
  position: absolute;
  top: 50%;
  right: 65px;
  transform: translateY(-50%);
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  color: #fff;
  background: #3856db;
  font-size: 14px;
}

.cancel-btn {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  border: none;
  border-radius: 15px;
  padding: 3px 10px;
  color: #333;
  background: #ddd;
  font-size: 14px;
}

.edit-input {
  width: calc(100% - 100px);
  padding: 6px 10px;
  border: 1px solid #687fe4;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}